# Frontend, AI project
bapsim-front/
AI/

# Gradle cache
.gradle/
build/

# IDE settings
.idea/
*.iml

# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml
docker-compose-aws.yml

# Logs
*.log